<!-- <button (click)='process()'>My button</button>
<input type="text" [value]="name" (input)='processData($event)'>
<br>
<br>
{{name}}
>>!--Shorthand binding--<<
<input type="text" [(ngModel)]='name'>
<br>-->
<!-- <app-emp></app-emp> -->

<app-employee-list></app-employee-list>

<!--directives-->
<!-- <div [ngSwitch]='day'>
 <div *ngSwitchCase=1>Monday</div>
 <div *ngSwitchCase=2>Tuesday</div>
 <div *ngSwitchCase=3>Wednesday</div>
 <div *ngSwitchCase=4>Thursday</div>
 <div *ngSwitchCase=5>Friday</div>
 <div *ngSwitchCase=6>Saturday</div>
 <div *ngSwitchCase=7>Sunday</div>
</div> -->
